<h2>Main Graph</h2>
<p>Total Habit Registries: {{ habitRegistries?.length || "sin registros" }}</p>
<div>
  Normalizado
  <p-inputSwitch
    [(ngModel)]="normalizeSelected"
    (onChange)="updatePrimeBasicChart()"
  ></p-inputSwitch>
</div>
<div>
  Visualizacion
  <p-selectButton
    [options]="visualizationOptions"
    [(ngModel)]="visualizationWeekly"
    optionLabel="label"
    optionValue="value"
    (onChange)="refillDataMap(); updatePrimeBasicChart()"
  ></p-selectButton>
</div>
<div>
  habitos
  <p-multiSelect
    [options]="optionHabits"
    [(ngModel)]="selectedHabits"
    (onChange)="updatePrimeBasicChart()"
  ></p-multiSelect>
</div>
<p-chart
  *ngIf="showChart"
  [data]="primeData"
  [type]="'line'"
  [options]="primeChartConfig"
  width="100vw"
  height="70vh"
></p-chart>
