<div class="global-cont">
  @if (habits?.length) { @for (habit of habits; track $index) {
  <div class="habit">
    <input
      type="text"
      pInputText
      [placeholder]="'name'"
      [(ngModel)]="habit.name"
    />
    <input
      type="number"
      pInputText
      [placeholder]="'weight'"
      [(ngModel)]="habit.weight"
    />
    <p-dropdown
      [placeholder]="'type'"
      [options]="typeOptions"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [(ngModel)]="habit.isBoolean"
    ></p-dropdown>
    <p-multiSelect
      [placeholder]="'weekDays'"
      [showHeader]="false"
      display="chip"
      [options]="weekDayOptions"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [(ngModel)]="habit.weekDays"
    ></p-multiSelect>
    <div class="boton" (click)="removeHabit($index)">-</div>
  </div>
  } }
  <div class="boton" (click)="addHabit()">+</div>
  <p-button label="save" (onClick)="saveHabits()"></p-button>
</div>
