<div class="global-cont">
  <div class="habitRegistry">
    <div class="date">{{ todayDate }}</div>
    @if (habits?.length) { @for (habit of habits; track $index) {
    <div class="habit">
      <div class="name">{{ habit.name }}</div>
      @if (habit.isBoolean) {
      <div class="value">
        <p-inputSwitch
          [(ngModel)]="habitRegistryMap.get(habit.id)!.value"
        ></p-inputSwitch>
      </div>
      }@else {
      <div class="value">
        <div class="slider">
          <p>{{ habitRegistryMap.get(habit.id)!.value }}</p>
          <p-slider
            [step]="0.1"
            [max]="1"
            [min]="0"
            [minlength]="'50'"
            [(ngModel)]="habitRegistryMap.get(habit.id)!.value"
          ></p-slider>
        </div>
      </div>
      }
    </div>
    }
    <div class="mood">
      <div class="name">Mood</div>
      <div class="value">
        <div class="slider">
          <p>{{ moodRegistry?.value ?? 0 }}</p>
          <p-slider
            [step]="0.1"
            [max]="1"
            [min]="0"
            [(ngModel)]="moodRegistry.value"
          ></p-slider>
        </div>
      </div>
    </div>
    <div class="button">
      <p-button [label]="'save'" (onClick)="createHabitRegistry()"></p-button>
    </div>
    }
  </div>
</div>
